<aside
  class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
  id="sidenav-main"
>
  <div class="sidenav-header">
    <i
      class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true"
      id="iconSidenav"
    ></i>
    <a class="navbar-brand m-0">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfa64mwxuORMWuQ2mxnsUjQ3lnQlecA2O6Vg&s"
        class="navbar-brand-img h-100"
        alt="main_logo"
      />
      <span class="ms-1 font-weight-bold">{{ title }}</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0" />
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let link of links">
        <a class="nav-link" [routerLink]="link.route">
          <span class="nav-link-text ms-1"
            ><i
              [class]="link.icon"
              [ngStyle]="{ marginRight: '10px', color: link.iconColor }"
            ></i
            >{{ link.name }}</span
          >
        </a>
      </li>
    </ul>
  </div>
</aside>
