<br />
<div class="container">
  <h2>Profile details</h2>

  <form>
    <label for="firstName">First Name:</label>
    <input
      id="firstName"
      type="text"
      [value]="profile?.firstName"
      name="firstName"
      readonly
    />

    <label for="lastName">Last Name:</label>
    <input
      id="lastName"
      type="text"
      [value]="profile?.lastName"
      name="lastName"
      readonly
    />

    <label for="age">Age:</label>
    <input id="age" type="number" [value]="profile?.age" name="age" readonly />

    <label for="age">Email :</label>
    <input
      id="email"
      type="text"
      [value]="profile?.email"
      name="email"
      readonly
    />

    <div class="image-preview">
      <img *ngIf="profileImage" [src]="profileImage" alt="wait image here" />
    </div>
  </form>
</div>
