<main class="main-content mt-0">
  <header></header>

  <div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8 mx-auto">
        <div class="card z-index-0">
          <div class="card-header text-center pt-4">
            <h5>Sign Up</h5>
          </div>
          <signup-switch
            [signupMode]="signupMode"
            (signupModeChange)="handleModeChange($event)"
          ></signup-switch>
          <div class="card-body">
            <signup-form [signupMode]="signupMode"></signup-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
